In [1]:
import pandas as pd
import numpy as np

master = pd.read_csv("../data/master_dataset.csv")

In [2]:
master

,date,Open,High,Low,Close,Volume,SP500_Open,SP500_High,SP500_Low,SP500_Close,...,qis_Other Operating Expenses,qis_Research And Development,qis_Selling General And Administration,qis_Selling And Marketing Expense,qis_General And Administrative Expense,qis_Other Gand A,qis_Gross Profit,qis_Cost Of Revenue,qis_Total Revenue,qis_Operating Revenue
0,2021-03-10,64.500000,74.830002,60.500000,69.500000,97069300.0,3891.989990,3917.350098,3885.729980,3898.810059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-11,74.930000,77.779999,70.129997,73.900002,59629300.0,3915.540039,3960.270020,3915.540039,3939.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-12,72.470001,72.959999,69.110001,69.699997,19714700.0,3924.520020,3944.989990,3915.209961,3943.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,2025-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1573,2025-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1574,2025-06-23,101.980003,104.629997,101.330002,103.489998,6742500.0,5969.669922,6028.770020,5943.229980,6025.169922,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1575,2025-06-24,104.230003,105.220001,103.059998,104.779999,5515000.0,6061.209961,6101.759766,6059.250000,6092.180176,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1576,2025-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09

In [3]:
# 2. Drop rows where the market is closed (no stock price)
master = master[master['Close'].notna()].copy()

master

,date,Open,High,Low,Close,Volume,SP500_Open,SP500_High,SP500_Low,SP500_Close,...,qis_Other Operating Expenses,qis_Research And Development,qis_Selling General And Administration,qis_Selling And Marketing Expense,qis_General And Administrative Expense,qis_Other Gand A,qis_Gross Profit,qis_Cost Of Revenue,qis_Total Revenue,qis_Operating Revenue
0,2021-03-10,64.500000,74.830002,60.500000,69.500000,97069300.0,3891.989990,3917.350098,3885.729980,3898.810059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-11,74.930000,77.779999,70.129997,73.900002,59629300.0,3915.540039,3960.270020,3915.540039,3939.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-12,72.470001,72.959999,69.110001,69.699997,19714700.0,3924.520020,3944.989990,3915.209961,3943.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-03-15,70.019997,74.059998,66.250000,72.150002,19549800.0,3942.959961,3970.080078,3923.540039,3968.939941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-03-16,73.730003,78.000000,73.180000,77.000000,30274400.0,3973.590088,3981.040039,3953.439941,3962.709961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,2025-06-17,100.419998,101.449997,100.040001,101.120003,7433300.0,6012.149902,6023.250000,5974.799805,5982.720215,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1569,2025-06-18,101.750000,103.029999,101.750000,102.650002,8863300.0,5987.930176,6018.250000,5971.890137,5980.870117,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1571,2025-06-20,103.199997,103.570000,100.901001,102.089996,9958700.0,5999.669922,6018.200195,5952.560059,5967.839844,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1574,2025-06-23,101.980003,104.629997,101.330002,103.489998,6742500.0,5969.669922,6028.770020,5943.229980,6025.169922,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1575,2025-06-24,104.230003,105.220001,103.059998,104.779999,5515000.0,6061.209961,6101.759766,6059.250000,6092.180176,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09

In [4]:
# 3. Forward-fill quarterly features (qbs_, qcf_, qis_)
quarterly_cols = [col for col in master.columns if any(q in col.lower() for q in ['qbs_', 'qcf_', 'qis_'])]
if quarterly_cols:
    master[quarterly_cols] = master[quarterly_cols].ffill()

master

,date,Open,High,Low,Close,Volume,SP500_Open,SP500_High,SP500_Low,SP500_Close,...,qis_Other Operating Expenses,qis_Research And Development,qis_Selling General And Administration,qis_Selling And Marketing Expense,qis_General And Administrative Expense,qis_Other Gand A,qis_Gross Profit,qis_Cost Of Revenue,qis_Total Revenue,qis_Operating Revenue
0,2021-03-10,64.500000,74.830002,60.500000,69.500000,97069300.0,3891.989990,3917.350098,3885.729980,3898.810059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-11,74.930000,77.779999,70.129997,73.900002,59629300.0,3915.540039,3960.270020,3915.540039,3939.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-12,72.470001,72.959999,69.110001,69.699997,19714700.0,3924.520020,3944.989990,3915.209961,3943.340088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-03-15,70.019997,74.059998,66.250000,72.150002,19549800.0,3942.959961,3970.080078,3923.540039,3968.939941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-03-16,73.730003,78.000000,73.180000,77.000000,30274400.0,3973.590088,3981.040039,3953.439941,3962.709961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,2025-06-17,100.419998,101.449997,100.040001,101.120003,7433300.0,6012.149902,6023.250000,5974.799805,5982.720215,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1569,2025-06-18,101.750000,103.029999,101.750000,102.650002,8863300.0,5987.930176,6018.250000,5971.890137,5980.870117,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1571,2025-06-20,103.199997,103.570000,100.901001,102.089996,9958700.0,5999.669922,6018.200195,5952.560059,5967.839844,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1574,2025-06-23,101.980003,104.629997,101.330002,103.489998,6742500.0,5969.669922,6028.770020,5943.229980,6025.169922,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09
1575,2025-06-24,104.230003,105.220001,103.059998,104.779999,5515000.0,6061.209961,6101.759766,6059.250000,6092.180176,...,523691000.0,374600000.0,166900000.0,47768000.0,119132000.0,119132000.0,810482000.0,224725000.0,1.035207e+09,1.035207e+09

In [5]:
# 4. Forward-fill/interpolate daily user/engagement features
daily_fill_cols = [
    'registrations', 'ccu', 'session_length', 'popular_games_total'
]
daily_fill_cols = [col for col in daily_fill_cols if col in master.columns]
if daily_fill_cols:
    master[daily_fill_cols] = master[daily_fill_cols].interpolate(method='linear', limit_direction='both')
    master[daily_fill_cols] = master[daily_fill_cols].ffill().bfill()

In [6]:
master['date'] = pd.to_datetime(master['date'], errors='coerce')
# Drop duplicate dates
master = master.drop_duplicates(subset=['date'], keep='first')
master = master.sort_values('date').reset_index(drop=True)
master = master.drop(columns=['fog_index', 'filename', 'form_type'])

In [7]:
def clean_numeric(val):
    if pd.isna(val):
        return np.nan
    val = str(val).replace('<null>', '').replace('None', '').replace('', '')
    # Replace Unicode dashes with ASCII minus
    val = val.replace('\u2013', '-')  # EN DASH
    val = val.replace('\u2014', '-')  # EM DASH
    val = val.replace('\u2212', '-')  # MINUS SIGN
    val = val.replace(',', '')        # Remove commas (thousands separators)
    val = val.replace('(', '-')       # Handle accounting negatives
    val = val.replace(')', '')
    val = val.strip()
    if val == '':
        return np.nan
    try:
        return float(val)
    except Exception:
        return np.nan

# Replace all null-like values globally with np.nan
master = master.replace({'<null>': np.nan, 'nan': np.nan, 'None': np.nan, '': np.nan})

# Clean ALL columns except 'date'
for col in master.columns:
    if col.lower() == 'date':
        continue
    master[col] = master[col].apply(clean_numeric)

In [8]:
# Only keep data from 2024-05-28 onward
#master = master[master['date'] >= pd.to_datetime('2024-05-28')].reset_index(drop=True)

#print(master['date'].min(), "to", master['date'].max())
#print("Rows in filtered dataset:", len(master))

In [9]:
# 7. Save the cleaned dataset
master.to_csv("../data/master_dataset_cleaned.csv", index=False)
print("Cleaned master dataset saved as master_dataset_cleaned.csv")

Cleaned master dataset saved as master_dataset_cleaned.csv

In [10]:

# 8. Check quarterly feature filling worked (print first 40 non-NaN rows)
if quarterly_cols:
    quarterly_data = master[['date'] + quarterly_cols]
    print("\nFirst rows with quarterly features filled:")
    print(quarterly_data[quarterly_data[quarterly_cols[0]].notna()].head(40))

First rows with quarterly features filled:
         date  qbs_Ordinary Shares Number  qbs_Share Issued  qbs_Net Debt  \
15 2021-03-31                 568894000.0       568894000.0  1.600000e+09
16 2021-04-01                 568894000.0       568894000.0  1.600000e+09
17 2021-04-05                 568894000.0       568894000.0  1.600000e+09
18 2021-04-06                 568894000.0       568894000.0  1.600000e+09
19 2021-04-07                 568894000.0       568894000.0  1.600000e+09
20 2021-04-08                 568894000.0       568894000.0  1.600000e+09
21 2021-04-09                 568894000.0       568894000.0  1.600000e+09
22 2021-04-12                 568894000.0       568894000.0  1.600000e+09
23 2021-04-13                 568894000.0       568894000.0  1.600000e+09
24 2021-04-14                 568894000.0       568894000.0  1.600000e+09
25 2021-04-15                 568894000.0       568894000.0  1.600000e+09
26 2021-04-16                 568894000.0       568894000.0  1.600000e+09
27 2021-04-19                 568894000.0       568894000.0  1.600000e+09
28 2021-04-20                 568894000.0       568894000.0  1.600000e+09
29 2021-04-21                 568894000.0       568894000.0  1.600000e+09
30 2021-04-22                 568894000.0       568894000.0  1.600000e+09
31 2021-04-23                 568894000.0       568894000.0  1.600000e+09
32 2021-04-26                 568894000.0       568894000.0  1.600000e+09
33 2021-04-27                 568894000.0       568894000.0  1.600000e+09
34 2021-04-28                 568894000.0       568894000.0  1.600000e+09
35 2021-04-29                 568894000.0       568894000.0  1.600000e+09
36 2021-04-30                 568894000.0       568894000.0  1.600000e+09
37 2021-05-03                 568894000.0       568894000.0  1.600000e+09
38 2021-05-04                 568894000.0       568894000.0  1.600000e+09
39 2021-05-05                 568894000.0       568894000.0  1.600000e+09
40 2021-05-06                 568894000.0       568894000.0  1.600000e+09
41 2021-05-07                 568894000.0       568894000.0  1.600000e+09
42 2021-05-10                 568894000.0       568894000.0  1.600000e+09
43 2021-05-11                 568894000.0       568894000.0  1.600000e+09
44 2021-05-12                 568894000.0       568894000.0  1.600000e+09
45 2021-05-13                 568894000.0       568894000.0  1.600000e+09
46 2021-05-14                 568894000.0       568894000.0  1.600000e+09
47 2021-05-17                 568894000.0       568894000.0  1.600000e+09
48 2021-05-18                 568894000.0       568894000.0  1.600000e+09
49 2021-05-19                 568894000.0       568894000.0  1.600000e+09
50 2021-05-20                 568894000.0       568894000.0  1.600000e+09
51 2021-05-21                 568894000.0       568894000.0  1.600000e+09
52 2021-05-24                 568894000.0       568894000.0  1.600000e+09
53 2021-05-25                 568894000.0       568894000.0  1.600000e+09
54 2021-05-26                 568894000.0       568894000.0  1.600000e+09

    qbs_Total Debt  qbs_Tangible Book Value  qbs_Invested Capital  \
15     988984000.0              424000000.0          1.412984e+09
16     988984000.0              424000000.0          1.412984e+09
17     988984000.0              424000000.0          1.412984e+09
18     988984000.0              424000000.0          1.412984e+09
19     988984000.0              424000000.0          1.412984e+09
20     988984000.0              424000000.0          1.412984e+09
21     988984000.0              424000000.0          1.412984e+09
22     988984000.0              424000000.0          1.412984e+09
23     988984000.0              424000000.0          1.412984e+09
24     988984000.0              424000000.0          1.412984e+09
25     988984000.0              424000000.0          1.412984e+09
26     988984000.0              424000000.0          1.412984e+09
27     988984000.0              424000000.0          1.412984e+09
28     988984000.0              424000000.0          1.412984e+09
29     988984000.0              424000000.0          1.412984e+09
30     988984000.0              424000000.0          1.412984e+09
31     988984000.0              424000000.0          1.412984e+09
32     988984000.0              424000000.0          1.412984e+09
33     988984000.0              424000000.0          1.412984e+09
34     988984000.0              424000000.0          1.412984e+09
35     988984000.0              424000000.0          1.412984e+09
36     988984000.0              424000000.0          1.412984e+09
37     988984000.0              424000000.0          1.412984e+09
38     988984000.0              424000000.0          1.412984e+09
39     988984000.0              424000000.0          1.412984e+09
40     988984000.0              424000000.0          1.412984e+09
41     988984000.0              424000000.0          1.412984e+09
42     988984000.0              424000000.0          1.412984e+09
43     988984000.0              424000000.0          1.412984e+09
44     988984000.0              424000000.0          1.412984e+09
45     988984000.0              424000000.0          1.412984e+09
46     988984000.0              424000000.0          1.412984e+09
47     988984000.0              424000000.0          1.412984e+09
48     988984000.0              424000000.0          1.412984e+09
49     988984000.0              424000000.0          1.412984e+09
50     988984000.0              424000000.0          1.412984e+09
51     988984000.0              424000000.0          1.412984e+09
52     988984000.0              424000000.0          1.412984e+09
53     988984000.0              424000000.0          1.412984e+09
54     988984000.0              424000000.0          1.412984e+09

    qbs_Working Capital  qbs_Net Tangible Assets  \
15          662479000.0             2.540309e+09
16          662479000.0             2.540309e+09
17          662479000.0             2.540309e+09
18          662479000.0             2.540309e+09
19          662479000.0             2.540309e+09
20          662479000.0             2.540309e+09
21          662479000.0             2.540309e+09
22          662479000.0             2.540309e+09
23          662479000.0             2.540309e+09
24          662479000.0             2.540309e+09
25          662479000.0             2.540309e+09
26          662479000.0             2.540309e+09
27          662479000.0             2.540309e+09
28          662479000.0             2.540309e+09
29          662479000.0             2.540309e+09
30          662479000.0             2.540309e+09
31          662479000.0             2.540309e+09
32          662479000.0             2.540309e+09
33          662479000.0             2.540309e+09
34          662479000.0             2.540309e+09
35          662479000.0             2.540309e+09
36          662479000.0             2.540309e+09
37          662479000.0             2.540309e+09
38          662479000.0             2.540309e+09
39          662479000.0             2.540309e+09
40          662479000.0             2.540309e+09
41          662479000.0             2.540309e+09
42          662479000.0             2.540309e+09
43          662479000.0             2.540309e+09
44          662479000.0             2.540309e+09
45          662479000.0             2.540309e+09
46          662479000.0             2.540309e+09
47          662479000.0             2.540309e+09
48          662479000.0             2.540309e+09
49          662479000.0             2.540309e+09
50          662479000.0             2.540309e+09
51          662479000.0             2.540309e+09
52          662479000.0             2.540309e+09
53          662479000.0             2.540309e+09
54          662479000.0             2.540309e+09

    qbs_Capital Lease Obligations  ...  qis_Other Operating Expenses  \
15                    205117000.0  ...                   163600000.0
16                    205117000.0  ...                   163600000.0
17                    205117000.0  ...                   163600000.0
18                    205117000.0  ...                   163600000.0
19                    205117000.0  ...                   163600000.0
20                    205117000.0  ...                   163600000.0
21                    205117000.0  ...                   163600000.0
22                    205117000.0  ...                   163600000.0
23                    205117000.0  ...                   163600000.0
24                    205117000.0  ...                   163600000.0
25                    205117000.0  ...                   163600000.0
26                    205117000.0  ...                   163600000.0
27                    205117000.0  ...                   163600000.0
28                    205117000.0  ...                   163600000.0
29                    205117000.0  ...                   163600000.0
30                    205117000.0  ...                   163600000.0
31                    205117000.0  ...                   163600000.0
32                    205117000.0  ...                   163600000.0
33                    205117000.0  ...                   163600000.0
34                    205117000.0  ...                   163600000.0
35                    205117000.0  ...                   163600000.0
36                    205117000.0  ...                   163600000.0
37                    205117000.0  ...                   163600000.0
38                    205117000.0  ...                   163600000.0
39                    205117000.0  ...                   163600000.0
40                    205117000.0  ...                   163600000.0
41                    205117000.0  ...                   163600000.0
42                    205117000.0  ...                   163600000.0
43                    205117000.0  ...                   163600000.0
44                    205117000.0  ...                   163600000.0
45                    205117000.0  ...                   163600000.0
46                    205117000.0  ...                   163600000.0
47                    205117000.0  ...                   163600000.0
48                    205117000.0  ...                   163600000.0
49                    205117000.0  ...                   163600000.0
50                    205117000.0  ...                   163600000.0
51                    205117000.0  ...                   163600000.0
52                    205117000.0  ...                   163600000.0
53                    205117000.0  ...                   163600000.0
54                    205117000.0  ...                   163600000.0

    qis_Research And Development  qis_Selling General And Administration  \
15                    89700000.0                              73900000.0
16                    89700000.0                              73900000.0
17                    89700000.0                              73900000.0
18                    89700000.0                              73900000.0
19                    89700000.0                              73900000.0
20                    89700000.0                              73900000.0
21                    89700000.0                              73900000.0
22                    89700000.0                              73900000.0
23                    89700000.0                              73900000.0
24                    89700000.0                              73900000.0
25                    89700000.0                              73900000.0
26                    89700000.0                              73900000.0
27                    89700000.0                              73900000.0
28                    89700000.0                              73900000.0
29                    89700000.0                              73900000.0
30                    89700000.0                              73900000.0
31                    89700000.0                              73900000.0
32                    89700000.0                              73900000.0
33                    89700000.0                              73900000.0
34                    89700000.0                              73900000.0
35                    89700000.0                              73900000.0
36                    89700000.0                              73900000.0
37                    89700000.0                              73900000.0
38                    89700000.0                              73900000.0
39                    89700000.0                              73900000.0
40                    89700000.0                              73900000.0
41                    89700000.0                              73900000.0
42                    89700000.0                              73900000.0
43                    89700000.0                              73900000.0
44                    89700000.0                              73900000.0
45                    89700000.0                              73900000.0
46                    89700000.0                              73900000.0
47                    89700000.0                              73900000.0
48                    89700000.0                              73900000.0
49                    89700000.0                              73900000.0
50                    89700000.0                              73900000.0
51                    89700000.0                              73900000.0
52                    89700000.0                              73900000.0
53                    89700000.0                              73900000.0
54                    89700000.0                              73900000.0

    qis_Selling And Marketing Expense  qis_General And Administrative Expense  \
15                         11500000.0                              62400000.0
16                         11500000.0                              62400000.0
17                         11500000.0                              62400000.0
18                         11500000.0                              62400000.0
19                         11500000.0                              62400000.0
20                         11500000.0                              62400000.0
21                         11500000.0                              62400000.0
22                         11500000.0                              62400000.0
23                         11500000.0                              62400000.0
24                         11500000.0                              62400000.0
25                         11500000.0                              62400000.0
26                         11500000.0                              62400000.0
27                         11500000.0                              62400000.0
28                         11500000.0                              62400000.0
29                         11500000.0                              62400000.0
30                         11500000.0                              62400000.0
31                         11500000.0                              62400000.0
32                         11500000.0                              62400000.0
33                         11500000.0                              62400000.0
34                         11500000.0                              62400000.0
35                         11500000.0                              62400000.0
36                         11500000.0                              62400000.0
37                         11500000.0                              62400000.0
38                         11500000.0                              62400000.0
39                         11500000.0                              62400000.0
40                         11500000.0                              62400000.0
41                         11500000.0                              62400000.0
42                         11500000.0                              62400000.0
43                         11500000.0                              62400000.0
44                         11500000.0                              62400000.0
45                         11500000.0                              62400000.0
46                         11500000.0                              62400000.0
47                         11500000.0                              62400000.0
48                         11500000.0                              62400000.0
49                         11500000.0                              62400000.0
50                         11500000.0                              62400000.0
51                         11500000.0                              62400000.0
52                         11500000.0                              62400000.0
53                         11500000.0                              62400000.0
54                         11500000.0                              62400000.0

    qis_Other Gand A  qis_Gross Profit  qis_Cost Of Revenue  \
15        62400000.0       307400000.0           79700000.0
16        62400000.0       307400000.0           79700000.0
17        62400000.0       307400000.0           79700000.0
18        62400000.0       307400000.0           79700000.0
19        62400000.0       307400000.0           79700000.0
20        62400000.0       307400000.0           79700000.0
21        62400000.0       307400000.0           79700000.0
22        62400000.0       307400000.0           79700000.0
23        62400000.0       307400000.0           79700000.0
24        62400000.0       307400000.0           79700000.0
25        62400000.0       307400000.0           79700000.0
26        62400000.0       307400000.0           79700000.0
27        62400000.0       307400000.0           79700000.0
28        62400000.0       307400000.0           79700000.0
29        62400000.0       307400000.0           79700000.0
30        62400000.0       307400000.0           79700000.0
31        62400000.0       307400000.0           79700000.0
32        62400000.0       307400000.0           79700000.0
33        62400000.0       307400000.0           79700000.0
34        62400000.0       307400000.0           79700000.0
35        62400000.0       307400000.0           79700000.0
36        62400000.0       307400000.0           79700000.0
37        62400000.0       307400000.0           79700000.0
38        62400000.0       307400000.0           79700000.0
39        62400000.0       307400000.0           79700000.0
40        62400000.0       307400000.0           79700000.0
41        62400000.0       307400000.0           79700000.0
42        62400000.0       307400000.0           79700000.0
43        62400000.0       307400000.0           79700000.0
44        62400000.0       307400000.0           79700000.0
45        62400000.0       307400000.0           79700000.0
46        62400000.0       307400000.0           79700000.0
47        62400000.0       307400000.0           79700000.0
48        62400000.0       307400000.0           79700000.0
49        62400000.0       307400000.0           79700000.0
50        62400000.0       307400000.0           79700000.0
51        62400000.0       307400000.0           79700000.0
52        62400000.0       307400000.0           79700000.0
53        62400000.0       307400000.0           79700000.0
54        62400000.0       307400000.0           79700000.0

    qis_Total Revenue  qis_Operating Revenue
15        387000000.0            387000000.0
16        387000000.0            387000000.0
17        387000000.0            387000000.0
18        387000000.0            387000000.0
19        387000000.0            387000000.0
20        387000000.0            387000000.0
21        387000000.0            387000000.0
22        387000000.0            387000000.0
23        387000000.0            387000000.0
24        387000000.0            387000000.0
25        387000000.0            387000000.0
26        387000000.0            387000000.0
27        387000000.0            387000000.0
28        387000000.0            387000000.0

In [11]:
#go to interpolatesentiment to fix/fill missing values for the sentiment scores.